<!DOCTYPE html>
<html lang="en" dir="ltr" ng-app="liveChatApp">
	<head>
		<meta charset="UTF-8">
		<title>Live chat box</title>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min"></script>
		<script src="//cdn.firebase.com/js/client/1.0.21/firebase"></script>
		<script src="//cdn.firebase.com/libs/angularfire/0.8.2/angularfire.min"></script>
	</head>
	<body ng-controller="ChatCtrl">
		<h1>Live chat box</h1>
		<p>Try typing some text in the box below.</p>
		<div class="chatbox">
			<div ng-repeat="message in messages">
				<p ng-model="message.text"></p>
			</div>
		</div>
		<form ng-submit="sendMessage(message)">
			<input ng-model="message">
			<button input="submit">Submit message</button>
		</form>
		<script src="js/main.js"></script>
	</body>
</html>
